<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard - Garage Door Opener</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/styles.css" rel="stylesheet">

    <!-- ======= Google Fonts ======= -->
    <!-- Lato Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Raleway Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900" rel="stylesheet">

    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/axios.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="logo">
                    <h1>Garage Door Opener</h1>
                </div>
            </div>
        </div>
    </header>

    <section id="app" class="page-body-area">
        
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-body">
                    <div class="text-center">
                        <a href="/blink/on" class="btn btn-secondary">Enable LED</a>
                        <a href="/blink/off" class="btn btn-secondary">Disable LED</a>
                        <button id="blinker-trigger" type="button" class="btn btn-secondary">Manual LED</button>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section id="server-status" class="text-center">Fetching server status...</section>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="/public/js/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
</body>
</html>